<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trabajo_final"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">
        <activity
            android:name=".GraficoMascotas"
            android:exported="false" />
        <activity
            android:name=".SelectorChats"
            android:exported="false" />
        <activity
            android:name=".ResultadosBusqueda"
            android:exported="false" />
        <activity
            android:name=".ChatPublico"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChatPrivado"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MisAnuncios"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".PublicarAnuncio"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".PerfilUsuario"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.trabajo_final.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name=".RegisterOptions"
            android:exported="false" />
        <activity
            android:name=".LoginOptions"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Buscador"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>